.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chat-input input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.chat-input button {
  width: 15%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.chat-input button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.chat-input input:focus, .chat-input button:focus {
  outline: none;
}

.chat-header {
  text-align: center;
  margin-bottom: 20px;
}

.chat-history {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  /*direction: rtl; */ /* Reversed chat order */
}

.message {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.message p {
  font-size: 16px;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
}

.message.user {
  text-align: right;
}

.message.bot {
  text-align: left;
}

.user-message {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.bot-message {
  background-color: #f1f1f1;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.bot-message p {
  white-space: pre-wrap; /* Preserve formatting */
}

.chat-history .message.bot {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

strong {
  font-weight: bold;
}

a {
  color: #4CAF50;
}

/* .bot-message ul {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
} */
/* .bot-message ul li{
  
} */


